*.o
.DS_Store
.*.swp
/env
/dl
/.config
/.config.old
.current_config_file
/customerconfigs
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds
/feeds.conf
/files
/package/feeds
/package/openwrt-packages
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
npm-debug.log
package/inteno/luciexpress/node_modules
all.pot
titles.pot
