*.o
.DS_Store
.*.swp
/env
/dl
/.config
/.config.old
.current_config_file
/customerconfigs
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds
/feeds.conf
/files
/package/feeds
/package/openwrt-packages
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
bower_components
node_modules
npm-debug.log
all.pot
titles.pot
template.pot
ccache
__all.js
__all.css
