[general]
enabled = yes

port = 5038
bindaddr = 127.0.0.1


[local]
secret = local
deny   = 0.0.0.0/0.0.0.0
permit = 127.0.0.1/255.255.255.0

read = system,call,log,verbose,agent,user,config,reporting,cdr,dialplan
write = system,call,agent,user,config,command,reporting,originate
