
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	font-family: Arial;
	padding: 0;
	margin: 0;
	background-color: #f2f2f2;
}
ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, select, option, table, caption, tbody, tfoot, thead, tr, th, td, textarea {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	font-family: Arial,sans-serif;
	font-size: 100%;
	margin: 0;
	outline: 0 none;
	padding: 0;
	vertical-align: middle;
}
body {
	line-height: 1.2;
}
:focus {
	outline: 0 dotted #c0c;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
html {
	overflow-y: scroll;
}
a {
	color: inherit;
}

.luci-content {
	
}
/* ==========================================================================
   Font
   ========================================================================== */
@font-face {
	font-family: 'VodafoneLtRegular';
	src: url('../fonts/vodafonelt-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* ==========================================================================
   General
   ========================================================================== */
body {
	font: 400 16px/19px Arial;
}
.fR {
	float: right !important;
}
.tR {
	text-align: right !important;
}
.chosen-container{
	width: auto !important;
}

/* dropdowns */
#look_3 .chosen-container-single .chosen-single {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-radius: 3px;
	color: #333;
	font-size: 14px;
	height: 39px;
	line-height: 39px;
	padding: 0 14px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, .55);
	border: 0;
	font-size: 16px;
	width: 290px;
	text-align: left;
}
#look_3 .ring-schedule +.chosen-container-single .chosen-single{
	width:219px;
}
#look_3 .chosen-container-single .chosen-single div {
	position: absolute;
	top: 3px;
	right: 0;
	display: block;
	width: 34px;
	height: 33px;
	border-left: solid 1px #ccc;
	text-align: left;
}
#look_3 .chosen-container-single .chosen-single div b {
	background: url("../img/icons/arrow-down.png") no-repeat scroll center center transparent;
}
#look_3 .chosen-container-active.chosen-with-drop .chosen-single div b {
	background: url("../img/icons/arrow-up.png") no-repeat scroll center center transparent;
}
#look_3 .chosen-container-single .chosen-drop {
	border-radius: 3px;
	border: 0;
	box-shadow: 0px -3px 0px rgba(255, 255, 255, 1), 0px 1px 3px rgba(0, 0, 0, .55);
}
#look_3 .chosen-container .chosen-results {
	padding: 0;
	border: 0;
	margin: 0;
}
#look_3 .chosen-container .chosen-results li {
	line-height: 39px;
	height: 39px;
	padding: 0 14px;
	font-size: 16px;
	text-align: left;
}
#look_3 .chosen-container .chosen-results li.highlighted {
	background: #666;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, .55) inset;
	color: #fff;


}
#look_3 .chosen-container-single .chosen-single abbr {
	/*background: url("../img/icons/close.png") no-repeat scroll center center transparent;*/
	background-size: 9px 9px;
	height: 100%;
	right: 34px;
	top: 0;
	width: 34px;
}

/* ==========================================================================
   Rhombus
   ========================================================================== */
#rhombus {
	background-color: #e60000;
	height: 40px;
	left: -9969px;
	position: absolute;
	top: 41px;
	width: 9999px;
	z-index: -1;
}
#rhombus:before {
	border-color: transparent transparent #e60000 transparent;
	border-style: none inset solid none;
	border-width: medium 9999px 9999px medium;
	content: " ";
	height: 0;
	left: 25px;
	overflow: hidden;
	position: absolute;
	top: -9996px;
	width: 0;
}
#rhombus:after {
	border-right: 9999px inset transparent;
	border-top: 9999px solid #e60000;
	content: " ";
	height: 0;
	left: 24px;
	overflow: hidden;
	position: absolute;
	top: 36px;
	width: 0;
	z-index: 1;
}
#rhombus-navigation {
	margin: 0 auto;
	padding: 0;
	width: 950px;
}
#rhombus-wrap {
	float: left;
	margin-left: 0;
	margin-right: 20px;
	margin-top: -35px;
	position: relative;
	width: 60px;
	z-index: 10;
}
#rhombus-logo {
	background: scroll;
	background-color: transparent;
	background-image: url("../img/vf-logo.png");
	background-origin: padding-box;
	background-position: 0 30px;
	background-repeat: no-repeat;
	background-size: auto auto;
	display: block;
	height: 90px;
	padding-top: 30px;
	position: relative;
	width: 60px;
	z-index: 5;
}
@media only screen and (min-width: 1110px) {
	#rhombus-navigation {
		width: 1110px;
	}
}
#global-navigation {
	margin: 0 auto;
	padding: 0;
	width: 950px;
}
#globalMessages {
	width: 1110px;
	margin: 0 auto;
}
.global-wrap {

}
.rel {
	position: relative;
}

/* ==========================================================================
   Header
   ========================================================================== */
#logo {
	float: left;
}
#top-bar {
	background-color: #ebebeb;
	border-bottom: 1px solid #bbb;
	height: 50px;
	margin-bottom: 20px;
	position: relative;
	font-size: 14px;
	line-height: 50px;
}
#top-bar-content {
	width: 950px;
	margin: 0 auto;
	padding-left: 80px;
}
#top-info-mode {
	float: right;
}
#top-info-logged-user {
	float: right;
	margin-right: 15px;
}
#top-info-mode .chosen-container {
	background-color: #fff;
	display: block;
	margin-top: 5px;
}

@media only screen and (min-width: 1110px) {
	#top-bar-content {
		padding-left: 0;
	}
}

/* ==========================================================================
   Navigation
   ========================================================================== */

/*
    General
 */
#navigation a:hover,
#subnavigation a:hover{
	cursor: pointer;
}

/*
    Navigation
 */
#navigation {
	background-color: #e60000;
	border-radius: 3px;
	background-clip: padding-box;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
	color: #fff;
	height: 44px;
	padding-left: 15px;
	width: 870px;
	padding: 4px;
	font: 400 21px/36px 'VodafoneRgRegular';
	float: left;
}
#navigation ul {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
#navigation li {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	padding-right: 1px;
	position: relative;
	text-align: center;
}
#navigation a {
	display: block;
	text-decoration: none;
}
#navigation a.inactive {
	opacity: 0.5;
}
#navigation a:hover:not(.inactive) {
	background-color: #f9f9f9;
	color: #333;
	height: 44px;
	line-height: 44px;
	margin: -4px 0;
	width: auto;
}
#navigation li:after {
	/*background-color: #fff;*/
	content: " ";
	height: 36px;
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
}
#navigation li:last-of-type:after {
	display: none;
}
#navigation li:first-of-type a:hover {
	margin-left: -4px;
	padding-left: 4px;
}
#navigation li:last-of-type a:hover {
	margin-right: -5px;
	padding-right: 5px;
	border-radius: 0 3px 3px 0;
}

@media only screen and (min-width: 1110px) {
	#navigation {
		width: 950px;
	}
}

/* ==========================================================================
   Content
   ========================================================================== */
#content-wrap {
	margin: 0 auto;
	width: 950px;
	color: #333333;
	padding-top: 30px;
}
#subnavigation {
	float: left;
	width: 190px;
}

/*
    Subnavigation
 */
#subnavigation > div {
	display: none;
}
.navigation-2of6 #subnavigation > .subnavigation-2of6,
.navigation-3of6 #subnavigation > .subnavigation-3of6,
.navigation-4of6 #subnavigation > .subnavigation-4of6,
.navigation-5of6 #subnavigation > .subnavigation-5of6,
.navigation-6of6 #subnavigation > .subnavigation-6of6 {
	display: block;
}

.navigation-1of6 #navigation ul li:nth-child(1) a {
	background-color : #990000;
	height: 44px;
	line-height: 44px;
	margin: -4px 0;
	width: auto;
	margin-left: -4px;
	padding-left: 4px;
}


.navigation-2of6 #navigation ul li:nth-child(2) a,
.navigation-3of6 #navigation ul li:nth-child(3) a,
.navigation-4of6 #navigation ul li:nth-child(4) a,
.navigation-5of6 #navigation ul li:nth-child(5) a{
	background-color : #990000;
	height: 44px;
	line-height: 44px;
	width: auto;
	margin: -4px 0;

}

.navigation-6of6 #navigation ul li:nth-child(6) a{
	background-color : #990000;
	height: 44px;
	line-height: 44px;
	margin: -4px 0;
	width: auto;
	margin-right: -5px;
	padding-right: 5px;
}

.navigation-1of6 #navigation ul li:nth-child(1) a,
.navigation-2of6 #navigation ul li:nth-child(2) a,
.navigation-3of6 #navigation ul li:nth-child(3) a,
.navigation-4of6 #navigation ul li:nth-child(4) a,
.navigation-5of6 #navigation ul li:nth-child(5) a,
.navigation-6of6 #navigation ul li:nth-child(6) a:hover {
	background-color : #990000;
	color: #ffffff;
}

#subnavigation a {
	border-bottom: 1px solid #ccc;
	display: block;
	height: 50px;
	line-height: 50px;
	margin: 0;
	padding-left: 20px;
}

#subnavigation .open > .sub-sub-navigation {
	padding-left: 20px;
}
#subnavigation .subnavigation-has-sub-sub.open > a {
	border-bottom: medium none;
}
#subnavigation .active > a {
	color: #e60000;
	font-weight: bold;
}
#subnavigation .sub-sub-navigation {
	display: none;
}
#subnavigation .open .sub-sub-navigation {
	display: block;
}
#subnavigation .sub-sub-navigation a {
	height: 40px;
	line-height: 40px;
}

/* ==========================================================================
   Content
   ========================================================================== */
#content-wrap {
	margin: 0 auto;
	width: 950px;
	color: #333333;
	padding-top: 30px;
}
#subnavigation {
	float: left;
	width: 190px;
}
#content-reset-wrap {
	float: left;
	margin-left: 50px;
	width: 710px;
}
.navigation-1of6 #content-reset-wrap {
	width: 100%;
	margin: 0;
}
/* 
	Please make selectors specific, otherwise you override them everywhere.
	This is important because for instance bootstrap panel is also using 
	h3 tags and they look messed up if global h3 tag is overridden here!
*/
/*
h1 {
	color: #e60000;
	font-family: "VodafoneRgRegular";
	font-size: 45px;
	font-weight: 300;
	line-height: 50px;
	margin-bottom: 10px;
}
h2 {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 30px;
	line-height: 24px;
}
h3 {
	color: #e60000;
	font-family: "VodafoneLtRegular";
	font-size: 28px;
	line-height: 50px;
	padding-left: 40px;
}
h3.margin-top {
	margin-top: 50px;
}
.padding-bottom-wrap {
	margin-bottom: 50px;
}
.h3-table-content {
	padding-left: 40px;
	padding-bottom: 50px;
}
.h3-content {
	padding-left: 40px;
	padding-bottom: 50px;
	width: 100%;
	display: table;
}
.h3-content.no-padding-bottom {
	padding-bottom: 0;
}
.h3-table-content.no-padding-bottom {
	padding-bottom: 0;
}
.h3-wrapper-content{
	width: 100%;
	padding-left: 40px;
	padding-bottom: 50px;
	display: table;
}
.h3-inside-content{
	float: left;
	width: 45%;
}
.h3-inside-content .h3-content{
	padding-left: 0px;


}

.row {
	display: table-row;
	line-height: 24px;
	width: 100%;
}
.row > div {
	padding-top: 20px;
	padding-bottom: 20px;
}
.h3-content .row + .row > div,
.h3-wrapper-content .row + .row > div {
	border-top: solid 1px #e6e6e6;
}
.h3-content .row.description + .row,
.h3-wrapper-content .row.description + .row {
	border: 0;
}
.h3-content .row.description + .row {
	border-top: 0;
}
.h3-content > table {
	width: 100%;
}
.h3-content td, .h3-content th {
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	padding: 10px;
	text-align: left;
}
.h3-content th {
	border-bottom: 1px solid #e6e6e6;
}
.h3-content table.table-three-columns th {
width: 33%;
}
.h3-content table.table-four-columns th {
	width: 25%;
}
.h3-content table.table-five-columns th {
	width: 20%;
}
.h3-content table.table-two-columns th {
	width: 50%;
}
.row .left .inner-row + .inner-row {
	margin-top: 10px;
}
.h3-wrapper-content .h3-inside-content .row .inner-cell-left{
	float:left;
}
.h3-wrapper-content .h3-inside-content .row .inner-cell-right{
	float:right;
}
.leftmargin{
	margin-left: 60px;
	margin-top:-5px;
}
.paddingLeft{
	padding-left: 90px;
}
.grey-italic{
	color: #888888;
	font-style: italic;
	line-height: 30px;
}
.row.big-padding-bottom {
	padding-bottom: 32px;
}
.row.no-padding-bottom{
	padding-bottom: 0;
}
.row::after {
	clear: both;
	content: "";
	display: table;
}
.row.big {
	height: auto;
	line-height: 24px;
	padding-top: 13px;
	padding-bottom: 13px;
}
.row.border-top{
	border-top: 1px solid #e6e6e6;
}
.control-row input[type="text"],
.control-row input[type="password"],
.control-row .chosen-container{
	width : 100% !important;
	box-sizing: border-box;
}
.control-row{
	padding-right: 24px;
	padding-bottom: 24px;
}
input.max3 {
	width: 55px;
	text-align: center;
}
input.max3-network {
	width: 40px;
	text-align: center;
	padding: 7px 0px !important;
}
input.max2 {
	width:55px;
	text-align: center;
}
input.max2-network {
	width:40px;
	text-align: center;
	padding: 7px 0px !important;
}
*/
/*
    Text box input error
 */
input[type="text"].input-error,
input[type="password"].input-error{
	border: 1px solid #e60000;
	box-shadow: none;
}
#content-wrap .row .right {
	display: table-cell;
	text-align: right;
}
#content-wrap .row .left {
	display: table-cell;
}
#content-wrap .row.description .left {
	font-weight: normal;
}
#content {
	padding-bottom: 60px;
	position: relative;
}
.apply-cancel {
	border-top: 1px solid #e6e6e6;
	margin-top: 30px;
	padding-top: 20px;
	text-align: right;
}
.apply-cancel .right {
	float: right;
}
.apply-cancel input:last-of-type {
	margin-right: 0;
}
.apply-cancel-margin-top {
	padding-left: 30px;
}
#content-wrap .row.no-border-bottom {
	border: 0 none;
}
div.table {
	display: table;
	width: 100%;
	line-height: 24px;
}
.h3-content div.table {
	padding-left: 20px;
}
div.table-row {
	display: table-row;
}
div.table-col {
	display: table-cell;
	padding-bottom: 3px;
	padding-top: 3px;
}
div.table-row.table-row-head .table-col {
	border-bottom: 1px solid #e6e6e6;
}
.title {
	color: #e60000;
	font-family: "VodafoneRgRegular";
	font-size: 28px;
	line-height: 50px;
}
.level-3 {
	padding: 0 0 0 14px;
}
.message-error {
	/*background: url("../img/icons/error.png") no-repeat scroll 20px 18px #fef0f0;*/
	border: 1px solid #e60000;
	border-radius: 3px;
	margin-top: 20px;
	padding: 22px 80px 20px 70px;
}
.message-info{
	/*background: url("../img/icons/info.png") no-repeat scroll 20px 18px #FFF5F0;*/
	border: 1px solid #FF5400;
	border-radius: 3px;
	padding: 22px 80px 20px 70px;
	margin-top: 20px;
}
.led-glow-block {
	display: block;
	float: left;
	height: 25px;
	width: 58px;
}
.hide-led {
	background: none repeat scroll 0 0 #fafafa !important;
	border-bottom: 1px solid #e0dede;
	border-right: 1px solid #e0dede;
	border-top: 1px solid #e0dede;
	box-sizing: border-box;
}
.router-led-bar {
	height: 25px;
	width: 375px;
	display: inline-block;
}
textarea {
	border-radius: 4px;
	box-shadow: 0 1px 1px 0 #767676 inset;
	box-sizing: border-box;
	color: #767676;
	font-size: 16px;
	line-height: 24px;
	padding: 7px 14px;
	resize: none;
}
.italic {
	font-style: italic;
}
.tC {
	text-align: center !important;
}
a{
	text-decoration: none;
}

/*
    Resetbutton
*/
.resetButtons {
	height: 30px;
	width: 30px;
	right: 0px;
	position: absolute;
	z-index: 100;
	background-image: url("../img/buttons/button-reload.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#resetBar {
	text-align: left;
}
#resetT {
	padding-right: 10px;
}
#resetR {
	float:right;
	margin-right: 5px;
}
#cancelR {
	float:right;
}
#r {
	height: 70px;
	line-height: 34px;
}
#footer {
	opacity: 0;
}
#footer:hover {
	opacity: 1;
}

/* ==========================================================================
   General WiFi
   ========================================================================== */

.wifi-col1 {
	float: left;
	padding-right: 20px;
	width: 50%;
}
.wifi-col2 {
	float: right;
	padding-left: 20px;
	width: 50%;
}

.inner-row::after {
	clear: both;
	content: " ";
	display: table;
}

.content-general .chosen-container-single .chosen-single {
	width: 100% !important;
}

.content-general .content-general input[type="text"], .content-general input[type="password"] {
	width: 100% !important;
}

#look_3 .popup .chosen-container-single .chosen-single {
	width: auto;
}
#look_3 .popup .chosen-container {
	width: 100% !important;
}


/* ==========================================================================
   About
   ========================================================================== */

.about {
	color: #e60000;
	font-family: "VodafoneLtRegular";
	font-size: 28px;
	line-height: 50px;
	font-weight: 700;
}

/* ==========================================================================
   Network
   ========================================================================== */
.col1of2 {
	float: left;
	padding-right: 20px;
	width: 50%;
}
.col2of2 {
	float: left;
	width: 50%;
	padding-right: 20px;
}

.col1of2 .row .left {
	width: 100%;
}

.col2of2 .row .left {
	width: 100%;
}


.content-network .chosen-container{
	width: 155px !important;
}
#look_3 .content-network .chosen-container-single .chosen-single {
	width: auto;
}

.content-network .h3-content td,
.content-network .h3-content th {
	padding: 10px 0px;
}
/* ==========================================================================
   General
   ========================================================================== */
.content-general .chosen-container {
	display: block;
	width: 100% !important;
}
.content-general input[type="text"],
.content-general input[type="password"] {
	display: block;
	width: 290px;
}

/* ==========================================================================
   Event Log
   ========================================================================== */

.event-log-button-width {
	width: 90px;
	float: left;
}

.eventLogErrorSecurity {
	color: #e60000;
}

/* ==========================================================================
   DSL status
   ========================================================================== */
.dsl-status .table-col {
	width: 33.33%;
}

/* ==========================================================================
   Number Blocking
   ========================================================================== */

.sub-description {
	color: #888888;
	font-style: italic;
	font-weight: 100;
}

/* ==========================================================================
   Phone Numbers
   ========================================================================== */

.phone-numbers-col1 {
	width: 70px;
}

.phone-numbers-col2 {
	width: 300px;
}

/* ==========================================================================
   Schedule
   ========================================================================== */

.no-text-align {
	text-align: inherit !important;
}

.space-right {
	padding-right: 80px;
}

/* ==========================================================================
   Incoming
   ========================================================================== */
.incoming-name-column {
	width: 140px;
}

/* ==========================================================================
   Incoming
   ========================================================================== */

.popupTextarea {
	width: 499px;
	height: 150px;
}

/* ==========================================================================
   Call Log
   ========================================================================== */

.tabs {
	background-color: white;
	margin: 0 -10px;
	cursor: pointer;
}

.tabs.tabs-bg-4-1 .tabs-all{
	background-color: #f7f7f7;
	font-weight: bold;
}

.tabs.tabs-bg-4-2 .tabs-dialled{
	background-color: #f7f7f7;
	font-weight: bold;
}

.tabs.tabs-bg-4-3 .tabs-received{
	background-color: #f7f7f7;
	font-weight: bold;
}

.tabs.tabs-bg-4-4 .tabs-missed{
	background-color: #f7f7f7;
	font-weight: bold;
}

.tabs-all {
	height: 44px;
	width: 25%;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	float: left;
	text-align: center;
	line-height: 44px;
	background-color: #ffffff;
}
.tabs-dialled {
	height: 44px;
	width: 25%;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	float: left;
	text-align: center;
	line-height: 44px;
	background-color: #ffffff;
}
.tabs-received {
	height: 44px;
	width: 25%;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	float: left;
	text-align: center;
	line-height: 44px;
	background-color: #ffffff;

}
.tabs-missed {
	height: 44px;
	width: 25%;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	float: left;
	text-align: center;
	line-height: 44px;
	background-color: #ffffff;
}

.grey-table-content {
	background-color: #f7f7f7;
	padding: 0 10px;
	margin: 0 -10px;
}

.missed-call-color {
	color: #e60000;
}

.more-columns {
	text-align: center;
	background-color: #f7f7f7;
}

.call-log > .table-row > .table-col {
	height: 50px;
}

.table-call-log-buttons {
	text-align: right;
}

.table-button-faded {
	opacity: 0.3;
}

.hidden1,
.hidden2{
	display: none;
}

/* ==========================================================================
   Settings
   ========================================================================== */

.input-message {
	border: 1px solid #ff5400;
	border-radius: 3px;
	background-color: #fff5f0;
}

.input-error {
	border: 1px solid #e60000;
	border-radius: 3px;
	background-color: #fef0f0;
}



/* ==========================================================================
   Popup
   ========================================================================== */

.blackBackground {
	background-color: rgba(0, 0, 0, 0.7);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}
.popup {
	background-color: #fff;
	box-shadow: 0 0 30px #555;
	left: 50%;
	padding: 34px 40px 40px;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 620px;
	z-index: 100;
}
.popupLoading{
	width: 25%;
}
.popup .apply-cancel {
	text-align: right;
}
.popupwidth-next-to-button {
	width: 248px;
}

/* ==========================================================================
   Global Messages
   ========================================================================== */
.head-message {
	width: 950px;
	border: 1px solid #ff5400;
	border-radius: 3px;
	border-top: none;
	padding: 22px 20px 20px 20px;
	background-color: #fff5f0;
	margin: 0 auto;
}

#globalMessages input.button {
	float:right;
}

#globalMessages .button {
	margin-right: 5px;
}


/* ==========================================================================
   Footer / Hidden Menu
   ========================================================================== */

#language-info {
	margin: 25px auto 0;
	width: 950px;
	color: #999999;
	font-size: 14px;
}
.language-switcher-list {
	float: left;
	width: 30%;
}
.language-switcher {
	float: left;
	margin-right: 14px;
}
.info {
	float: right;
	width: 70%;
}

#footer-main {
	font-weight: bold;
	padding-top: 60px;
	color: #999999;
}

.hidden-menu-title {
	font-weight: bold;
	color: #999999;
	padding-top: 25px;
	padding-bottom: 10px;
}

#footer-main > ul > li > a {
	text-decoration: none;
}

.hidden-menu > ul > li > a {
	text-decoration: none;
	font-size: 14px;
	padding-left: 10px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }
