.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #a8b400;
    border-color: #808080;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
}